
.copy {
    text-align: center;
      background-color: rgb(0, 0, 0) !important;
    /*padding: 20px!important;*/
    /*height: 700px;*/

}
.copy p {
    color: #afafaf;
    font-size: 12px;
    letter-spacing: 2px;
    padding: 1em;
    margin-top: 40px;
}
.copy p a {
    color: #ffce14;
    text-decoration: none;
	transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.copy p a:hover{
	color:#fff;
	transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}