/*@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');*/
.navbar-collapse ul li a{
    display: block!important;
    padding-right: 50px!important;
    border: 3px!important;
    /*background: #afafaf;*/
    color: aqua;
    text-align: center!important;
    justify-content: center!important;
       float: none;
      display: inline-block;


}
.navbar-collapse ul li a:hover{
    display: block;
    background: #9f6934 ;
    color: white!important;
    /*text-align: center!important;*/
    transition: background-color  0.9s ease;


}
.navbar-collapse a{
    color: #000000!important;
    font-family: "Bodoni";
}
.navbar-nav
{
    background: #dba215 !important;
}
.navbar-collapse
{
    /*background: goldenrod!important;*/
}
.navbar-brand
{
    background: rgba(0, 0, 0, 0.9);
    padding-right: 20px!important;
    text-decoration:none;
    align-items: center!important;
    align-content: center!important;
    font-family: "serif";

}
.navbar-brand h2
{
    color: #dba215;
    font-size: 19px;
    /*font-weight: ;*/
    font-style: italic;
}
.navbar-collapse ul li a{
    text-align: left!important;
}
.display {
   position: absolute;
    color: #dba215;
   /*top: 30%;*/
    /*display: flex;*/
   /*left: 42%;*/
   /*width: 20%;*/
    /*margin-top:-100px;*/
    font-size: 34px;
    font-family: Neue Helvetica;
    background: rgba(0, 0, 0, 0.7)
}
.displayed img
{
    left: 50%;
}
h2 display
{
    color: red;
}
.text-color
{
    color: goldenrod!important;
}
.furniture_area {
  background: burlywood;/*burlywood*/
/*f9f9ff*/
}

.furniture_inner {
  margin-bottom: -30px; }

.furniture_item {
  margin-bottom: 30px;
    margin: 0px;
    padding: 0px;
}
  .furniture_item img {
    border-radius: 50px; }
  .furniture_item h4 {
    font-size: 18px;
    text-transform: uppercase;
    font-family: "Heebo", sans-serif;
    font-weight: bold;
    color: #222222;  /*#222222*/
    margin-top: 25px;
    margin-bottom: 12px;
    transition: all 300ms linear 0s; }
    
 .furniture_item p {
    margin-bottom: 0px;
  }
  .furniture_item:hover h4 {
    color: #9f6934;
  }
 .dispay-2 img{
      position: absolute;
      top: 50%;
      left: 50%;
  }

  .img-fluid
  {
 transition: transform 1s, filter 2s ease-in-out;
  filter: blur(0px);
  transform: scale(1);
  }
  .img-fluid:hover
  {
     filter: blur(0);
  transform: scale(1.2);
  /*background-color: rgba(0, 0, 0, 0.70) !important;*/
  }
  .blur
  {
      filter: blur(0);
      transform: scale(1.1);

  }
  .content h4{
      color: #dba215;
  }
    .content p{
      color: #000000;
  }
    .content a
    {
        /*text-decoration: none;*/
        color: orange;
    }
     a:hover
    {
         text-decoration: none!important;
        color: #a07404!important;
    }
    .content > .btn
    {
        background-color: #000000;
    }
    .viewed
    {
        background-color: white;
    }
    .viewed h4,h3
    {
        color: black;
    }
    .viewed img
    {
        filter: blur(0);
        transform: scale(0.9);
    }
    .viewed
.textbox {
-webkit-transition: all 0.7s ease;
transition: all 0.7s ease;
text-align:center;
}
.textbox h4 {
    font-size: 2em;
    color: #FFF;
    margin-top: 3.5em;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 5px;
}
.contacts
{
    /*margin-left: 12%;*/
    /*margin-top: 34%;*/
    padding: 65px;
    /*color: #FFFFFF;*/
    /*background-color: #a07918 !important;*/
}
.contacts h3{
    font-size: 23px;
    font-weight: bolder;
    text-decoration: underline;
}
.contacts h4{
    font-size: 18px;
}
/*.form*/
/*{*/
    /*left: 50%;*/
    /*margin-top: 12%!important;*/
    /*z-index: 3;*/
    /*!*padding: 12%;*!*/
/*}*/
.tab-pane
{
    font-weight: bolder;
}
.list-group .list-group-item {

    color: #000000;
    border: #d39e00;
  background-color: #d39e00;
  border-top: 0px solid #d0d5d8;
  border-left-color: #fff;
  border-right-color: #fff;
}

.list-group .list-group-item-action:hover {

  background-color : #a07404  !important;
}
.info
{
    /*right: 34%;*/
    /*margin-top: 12%;*/
    /*background-color: #a07918 !important;*/
   /*padding: 3rem;*/
}

.position
{
     font-size: 0.9em;
     text-align: center;
     /*position: absolute;*/
     bottom: 0px;
     margin-top:-0px;
     vertical-align: bottom;
     width:100%;
    top: 30%;
    height: 10px;

}
/*.text-uppercase*/
/*{*/
    /*!*font-size: 0.9em;*!*/
    /*font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;*/
/*}*/
/*.text-uppercase > strong{*/
    /*color: white;*/
      /*font-size: 0.9em;*/
/*}*/
/*.d-inline-block*/
/*{*/
    /*color: orange!important;*/
/*}*/
.carousel-control-next-icon:after
{
  content: '>';
  font-size: 34px;
  color: transparent;/*#8b4513*/
}
.carousel-control-prev-icon:after {
    content: '<';
    font-size: 34px;
    color: transparent; /*#dba215*/
}
.carousel-control-next-icon .arrow-next:after {
    content: '>';
    color: blue!important;
}
.bg{
   background: red;
}
.mb-3
{
  color: red
}
.fa-bullseye
{
  color: #000000;
}
.fa-space-shuttle
{
  color: #000000;
}
.fa-info
{
  color: #000000;
}
.fa-eye
{
  color: #000000;
}
.fa {
  color : red !important;
}
.text-muted
{
 color: rgb(9, 1, 14)!important
}

.furniture_item .btn {
  position: absolute;
  top: 38%;
  left: 72%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #ce970e;
  color: black;
  font-size: 16px;
  padding: 2px 14px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
.furniture_item a {
	font-weight:bold;
	color: #000000;
	text-decoration: none;
}


/*// testinomials*/

.testimonials {
  overflow: hidden;
  position: relative;
  max-height: 300px;
}

.testimonials {
  background: #161d25;
}

.one-slide,
.testimonial,
.message {
  border: none !important;
  outline: none !important;
}

.icon-overlay {
  position: absolute;
  opacity: 0.3;
  right: 10%;
  top: 0;
  height: auto;
  width: 100%;
  max-width: 400px;
}

.carousel-controls .control {
  position: absolute;
  transform: translateY(-50%);
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 2px solid #fff;
  z-index: 1;
}

.prev {
  left: -2.25rem;
}

.next {
  right: -2.25rem;
}

@media screen and (max-width: 768px) {
  .testimonials {
    max-height: 700px;
  }
  .icon-overlay {
    height: 300px;
    top: calc(50% - 150px);
  }
  .carousel-controls .control {
    width: 25px;
    height: 25px;
    top: inherit;
  }
  .prev {
    left: 0;
  }
  .next {
    right: 0;
  }
  .control i {
    font-size: .7rem;
  }
  .testimonials .message {
    font-size: 1rem;
  }
  .testimonials h2 {
    font-size: 1.5rem;
  }
}
.contactsicons
{
      position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
body {
  background-color: white;
}
.card
{
    /*text-decoration: none;*/
    color: white;
    background: #a07404;
}
.card-header b
{
    color: white;
}
.mb-3
{
    color: white;
}
.btn-link
{
    color: white;
}
  body {
  background-color: white;
}


/*!*../img/video-bg.jpg*!*/
/*.feedback-left {*/
  /*background: url(../img/auto.jpg) center;*/
  /*background-size: cover;*/
  /*padding: 130px 0;*/
/*}*/

/*.feedback-left .play-btn {*/
  /*z-index: 2;*/
/*}*/

/*.feedback-left .overlay-bg {*/
  /*background-color: rgba(250, 183, 0, 0.7);*/
/*}*/

/*@media (max-width: 960px) {*/
  /*.feedback-left {*/
    /*margin-bottom: 30px;*/
  /*}*/
/*}*/

/*.feedback-right .star {*/
  /*margin-left: 20px;*/
/*}*/

/*.feedback-right .star .checked {*/
  /*color: #3CD0B4;*/
/*}*/

/*.feedback-right .owl-dots {*/
  /*text-align: left;*/
  /*bottom: 5px;*/
  /*margin-top: 20px;*/
  /*width: 100%;*/
  /*-webkit-backface-visibility: hidden;*/
  /*-moz-backface-visibility: hidden;*/
  /*-ms-backface-visibility: hidden;*/
  /*backface-visibility: hidden;*/
/*}*/

/*.feedback-right .owl-dot {*/
  /*height: 10px;*/
  /*width: 10px;*/
  /*display: inline-block;*/
  /*background: rgba(127, 127, 127, 0.5);*/
  /*margin-left: 5px;*/
  /*margin-right: 5px;*/
  /*-webkit-transition: all 0.3s ease 0s;*/
  /*-moz-transition: all 0.3s ease 0s;*/
  /*-o-transition: all 0.3s ease 0s;*/
  /*transition: all 0.3s ease 0s;*/
/*}*/

/*.feedback-right .owl-dot.active {*/
  /*-webkit-transition: all 0.3s ease 0s;*/
  /*-moz-transition: all 0.3s ease 0s;*/
  /*-o-transition: all 0.3s ease 0s;*/
  /*transition: all 0.3s ease 0s;*/
  /*background: #038AD4; !*fab700*!*/
/*}*/
/*.overlay-bg {*/
    /*background-color: #3CD0B4;*/
    /*opacity: .3;*/
/*}*/
.see
{
    margin-right: 50%;
    /*left: 10rem;*/
     justify-content: center;
}
.infomation img
{
    margin-right: 14%;
    height: 150px;
    width: 100px;
    justify-content: center;
}
.infomation
{
    left: 30%;
    /*justify-content: center;*/
    /*margin-right: 15%;*/
    /*padding-left: 30rem;*/
    justify-content: center;
}
.pic
{
  justify-content: center;
    /*left: 30px;*/
    border-radius: 50%!important;
    -webkit-border-radius: 7px;
}
.fa-star
{
    color: goldenrod;
    left: 30%;
}
.product
{
    height: 700px!important;
  transition: transform .5s, filter 1.5s ease-in-out;
  filter: grayscale(40%);
  transform: scale(1.0);
    margin: 14px;
    padding: 1px;
}
.product:hover
{
    filter: grayscale(0);
    background-color: goldenrod;
  transform: scale(1.1);
}
.furniture_item h3
{
   position: absolute;
    top: 45%;
    /*right: 13%;*/
    z-index: 2;
    left: 25%;
    color: #dba215;
    font-size: 26px;
    font-weight: bold;
    font-family: 'Playfair Display SC', serif;;
    background: rgba(0, 0, 0, 0.7)

}
.furniture_item .shop
{
    top:80%;
}
body
{
    /*background-color: #8b4513;*/
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active){
	.textOverImage{background-size:cover!important;}
}
.textOverImage{
    position:relative;
    width:300px;
    height:200px;
    float:left;
    margin:4px;
    background-size:100%;
    background-position:center;
    transition:0.5s;
    overflow:hidden;
    border-radius:4px;
    box-shadow:0 0 4px #000;
  }


  .textOverImage:hover{
    background-size:110%;

  }

.textOverImage:before{
  position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
  transform:translateY(80%);/*use transform:translateY(100%); to remove footer*/
    background-color:rgba(0,0,0,0.3);
    color:#fff;
    padding:0 8px;
    content:attr(data-title);
    transition:0.5s 0.1s;
    color:#e0a800;
    font-weight:bold;
    font-size:1.1em;
}

  .textOverImage:after{
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    color:#fff;
    padding:8px;
    content:attr(data-text);
    transition:0.5s;
    padding-top:2em;
    margin-top:8px;
    transform:translateY(100%);
    opacity:0;
  }

  .textOverImage:hover:after{
    transform:translateY(0);
    transition:0.5s 0.1s;
    opacity:1;
  }
.textOverImage:hover:before{
    transform:translateY(0);
    padding:8px;
    background-color:rgba(0,0,0,0.6);
    transition:0.5s;
}
.logo
{
    bottom: 40%;
    margin-left: 190px;
}