{% extends 'Navigation.html' %}

{% block body %}

<div class="container">
    <table class="table" id="example">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Rental</th>
            <th>Quantity</th>
            <th>Phone</th>
            <th>Edit</th>
        </tr>
        </thead>
        <tbody>
        {% for delivery in delivery %}
            <tr>
                <td>{{ delivery[0] }}</td>
                <td>{{ delivery[1] }}</td>
                <td>{{ delivery[2] }}</td>
                <td>{{ delivery[3] }}</td>
                <td>{{ delivery[4] }}</td>
                <td>{{ delivery[5] }}</td>

            </tr>
        {% endfor %}
        </tbody>

    </table>
</div>
{% endblock %}