{% extends 'Navigation.html' %}
{% block body %}

    <div class="container col-md-8 justify-content-center" style="margin-top: 3rem">


        <div id="accordion">
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h5 class="mb-0">
                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne"
                                aria-expanded="true"
                                aria-controls="collapseOne">
                            Why should I rent furniture?
                        </button>
                    </h5>
                </div>

                <div id="collapseOne" class="collapse " aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body">
                        When moving to a new home, office or country, the hassle, time expense and costs associated with
                        purchasing furniture can be high. Whether you utilize budget furniture sellers or not,
                        furnishing an entire home or office is going to take time: time to pick furniture, buy it, have
                        it delivered, arrange it, and in some cases, assemble it. This is not to mention to cost of
                        cleaning and upkeep in the (inevitable) event that someone spills, rips or damages your
                        furniture.
                        Renting your furniture allows you to live in a beautifully furnished space, without the same
                        cost and hassle of ownership.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingTwo">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo"
                                aria-expanded="false" aria-controls="collapseTwo">
                            Is the furniture used?
                        </button>
                    </h5>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                    <div class="card-body">
                        Unless we explicitly note this in our rental proposal, all furniture items are rented to you in
                        brand-new condition.
                        Can you help me choose furniture?
                        Our team of professional furniture rental consultants is here for you, equipped with specialized
                        training in interior décor and design. We offer intelligent expertise on all our products and
                        packages.
                        We are happy to use our experience to help you create the home that fits your needs, taste and
                        budget.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingThree">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree"
                                aria-expanded="false" aria-controls="collapseThree">
                            Rental Costs
                            Are there any additional costs?

                        </button>
                    </h5>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                    <div class="card-body">

                        There are no “hidden” or additional costs. We pride ourselves on financial and document
                        transparency. Our monthly rental fees include the delivery and assembly of furniture and
                        appliances. When you move out, we disassemble your furniture as part of your rental fee.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingFour">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour"
                                aria-expanded="false" aria-controls="collapseFour">
                            What if I need to break my lease?
                        </button>
                    </h5>
                </div>
                <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                    <div class="card-body">

                        We understand that there are extenuating circumstances in life, and we may be able to offer some
                        flexibility if the need arises. If you have trouble with your lease for any reason, please give
                        us a call
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingFive">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFive"
                                aria-expanded="false" aria-controls="collapseFive">

                            Can I purchase the furniture at the end of my lease?

                        </button>
                    </h5>
                </div>
                <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
                    <div class="card-body">

                        You have the option to purchase your Furniture Leasing Corporation products at a discounted rate
                        at the end of your lease. Monthly rental payments do not count towards end of lease purchases.
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}