{% extends 'Navigation.html' %}

{% block body %}
    <div class="container">
        <img src="../static/img/interior.jpg" height="500" width="1200" alt="pic">
    <h2 class="display-2 text-color">Funiture Rental.Simplified</h2>


    <br>
    <br>
    <br>
      <section class="furniture_area p_120" id="services">
        	<div class="container">
{#        		<div class="main_title">#}
{#        			<h2>Most Popular Furnitures</h2>#}
{#        			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>#}
{#        		</div>#}
        		<div class="furniture_inner row">
        			<div class="col-lg-4">
        				<div class="furniture_item">
        					<img class="img-fluid" src="../static/img/siiting%20real.jpg" alt="sit">
        					<h4>Green Butter Sofa</h4>
        					<p>Sony laptops are among the most well known laptops on today’s market. Sony is a name that.</p>
        				</div>
        			</div>
        			<div class="col-lg-4">
        				<div class="furniture_item">
        					<img class="img-fluid" src="../static/img/Living%20room.jpg" alt="live">
        					<h4>Green Butter Sofa</h4>
        					<p>Sony laptops are among the most well known laptops on today’s market. Sony is a name that.</p>
        				</div>
        			</div>
        			<div class="col-lg-4">
        				<div class="furniture_item">
        					<img class="img-fluid" src="../static/img/Kitchen.jpg" alt="kitchen">
                            <h4><a href="/funitureorder">Green Butter Sofa</a></h4>
        					<p>Sony laptops are among the most well known laptops on today’s market. Sony is a name that.</p>
        				</div>
        			</div>
        		</div>
        	</div>
        </section>
    </div>
        <!--================End Furniture Area =================-->
{% endblock %}