<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">


    <title>Portfolio</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/footer.css">
    <link rel="stylesheet" href="../static/nav.css">

</head>
<body background="../static/images/potfolio%20color.jpg">
<button class="btn"><a href="porfolio.html">Go back</a></button>
<div class="container-fluid col-md-12">
    <span class="name" style="color: darkcyan">Hotel Reservation system</span>
    <hr>
    <div class="row">
        <div class="col-md-3"><img src="../static/images/hotel.png" alt=""></div>
        <div class="col-md-3"><img src="../static/images/hotel2.png" alt=""></div>
        <div class="col-md-3"><img src="../static/images/hotel%20rooms.PNG" alt=""></div>
        <div class="col-md-3"><img src="../static/images/hotel%20contact.PNG" alt=""></div>
    </div>
    <hr>
    <span class="name" style="color: darkcyan">Library Management System</span>

    <br>
    <br>
    <div class="row">
        <div class="col-md-3"><img src="../static/images/lib.png" alt=""></div>
        <div class="col-md-3"><img src="../static/images/lib2.png" alt=""></div>
        <div class="col-md-3"><img src="../static/images/lib3.png" alt=""></div>
        <div class="col-md-3"><img src="../static/images/libc.png" alt=""></div>
    </div>
    <hr>
    <span class="name" style="color: darkcyan">Furniture leasing startup</span>
    <br>
    <br>
    <div class="row">
        <div class="col-md-3"><img src="../static/images/beads%20Home.PNG" alt=""></div>
        <div class="col-md-3"><img src="../static/images/beads%20furniture.PNG" alt=""></div>
        <div class="col-md-3"><img src="../static/images/beads%20faq.PNG" alt=""></div>
        <div class="col-md-3"><img src="../static/images/beads%20contact%20us.PNG" alt=""></div>
    </div>
    <hr>
    <span class="name" style="color: darkcyan">Nanny day care website</span>
    <br>
    <br>
    <div class="row">
        <div class="col-md-3"><img src="../static/images/nanny1.png" alt=""></div>
        <div class="col-md-3"><img src="../static/images/nannys.png" alt=""></div>
        <div class="col-md-3"><img src="../static/images/nanny10001.png" alt=""></div>
        <div class="col-md-3"><img src="../static/images/nanny%20faq.PNG" alt=""></div>
    </div>

</div>
</body>
</html>

<style>
    .name {
        text-align: center;
        font-weight: 400;
        font-size: 26px;
    }

    img {
        height: 250px;
        width: 250px;
        transform: scale(0.9);
    }
    img:hover
    {
     transform: scale(1.1);
    }
    button
    {
        top: 10%;
        margin-left:0%;
        background: #abdde5;
        color:darkcyan;
        position: relative;
        left: 1100px;
        margin-top: 10px;
    }
</style>