<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">


    <title>Portfolio</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/footer.css">
    <link rel="stylesheet" href="../static/nav.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">

</head>
<body background="../static/images/potfolio%20color.jpg" class="portfolio" >
<hr>
<a target="_blank" href="https://www.facebook.com/earvin.baraka"><i class="fab fa-2x fa-facebook"></i></a>
<a target="_blank" href="https://www.linkedin.com/in/earvin-baraka-855376123/"><i class="fab fa-2x fa-linkedin "></i></a>
<a target="_blank" href="mailto:earvinbaraka@gmail.com?Subject=Greetings"><i class="fas fa-2x fa-envelope-square"></i></a>
<center><img align="" src="../static/images/20190430_155612.jpg"  width="180" height="180" alt="" style="border-radius: 50%"></center>
<div class="container col-md-9" style="margin-top: 2rem">


    <P style="font-family: 'Harlow Solid Italic'">Hello, my name is Earvin Baraka, am a freelancer from Nairobi, kenya.My interests are in web development, where i
        help medium to
        large companies increase their online presence/sales. I work on both personal projects and companies, Not to mention i also do video editing on my free time
        platforms</P>

    <p style="font-family: 'Harlow Solid Italic';">My diverse skills range from design capabilities, making use of Html + Css and Python Programming.
        I work on front to back end Development.</p>


<h4 align="center" style="font-family: 'Bodoni MT'; text-decoration: underline">Links to Projects I Have Built </h4>
    <br>
    <ul align="center">
<a target="_blank" title="Hotel Reservation system" href="http://earvinbaraka.000webhostapp.com/"style="color: saddlebrown"><b> A hotel reservation website</b></a>
        <br>
        <br>
<a target="_blank"  title="Web Application" href="http://45.79.88.74" style="color: brown"><b>Library Management System</b></a>
        <br>
        <br>
        <a target="_blank" title="Furniture Leasing startup" href="https://beadsandprints.co.ke"style="color: saddlebrown "><b>A furniture leasing startup</b></a>
        <br>
        <br>
<a target="_blank" title="Nanny day Care Website" href="https://www.nannysos.co" style="color: brown; font-weight: bold">Nanny day care website</a>
    </ul>
</div>
<hr>
<h3  style="font-size: 22px" align="center"><a href="images.html"><b  title="view samples" style="color: green">Click here to view screenshots</b></a></h3>
<h3  style="font-size: 22px" align="center"><a href="flask_mail.html"><b  title="view samples" style="color: blue"><u> Click here</u> to view Flask Mail code</b></a></h3>

<hr>
<div class="position">


    <div class="copy">
        <footer class="page-footer mt-6 mb-2 text-center text-md-left">

            <!-- Grid row -->
            <div class="row mt-1">

                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    <h6 class="text-uppercase font-weight-bold">
                        <br>
                        <strong style="color: white">FRONT-END DEVELOPMENT</strong>
                    </h6>
                    <hr class="orange accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px">
                    <p>
                        <a href="">HTML</a>
                    </p>
                    <p>
                        <a href="">CSS</a>
                    </p>
                    <p>
                        <a href="">BOOTSTRAP</a>
                    </p>
                    <p>
                        <a  style="text-transform: uppercase" href="">Javascript</a>
                    </p>
                </div>
                <!--/.Second column-->

                <!-- Grid column -->
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase font-weight-bold">
                        <br>
                        <strong style="color: white">BACK-END DEVELOPMENT</strong>
                    </h6>
                    <hr class="orange accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 68px;">
                    <p>
                        <a href="">PYTHON</a>
                    </p>
                    <p>
                        <a href="">FLASK FRAMEWORK</a>
                    </p>
                    <p>
                        <a href="">SQL</a>
                    </p>
                  <!--  <p>
                        <a href="">MYSQL</a>
                    </p> -->
                    <p>
                        <a href="">PHP</a>
                    </p>
                </div>
            </div>
        </footer>
        <p>© 2019 © Beads and prints . All Rights Reserved | Design by <a target="_blank"
                                                                          href="https://www.facebook.com/earvin.baraka">CodyBaraks</a>
        </p>
    </div>
</div>
</body>
</html>
<style>
    body .container {
        font-family: 'Raleway', sans-serif;
        font-size: 20px;
    }
    .fa-facebook {
        color: #3b5998;
        position: relative;
        left: 10px;
    }
    .fa-linkedin {
        color: #0077b5;
        position: relative;
        left: 20px;
    }
    .fa-envelope-square {
        color: #dd4b39;
        position: relative;
        left: 30px;
    }
</style>