<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Customized</title>

    <link rel="stylesheet" href="../static/footer.css">
    <link rel="stylesheet" href="../static/nav.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
   <!-- {#    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">#}
    {#    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">#}
    {#    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.7.5/css/mdb.min.css" rel="stylesheet">#}-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">
    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.7.5/css/mdb.min.css" rel="stylesheet">


    <!-- JQuery -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.7.6/js/mdb.min.js"></script>


</head>
<body>
<nav class="navbar navbar-expand-lg  navbar-light bg-light ml-auto text-center">
    <a class="navbar-brand" href="home.html"><h2>BEADS AND PRINTS</h2></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav navbar-center ml-auto text-center">
            <li class="nav-item active">
                <a class="nav-link" href="home.html">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="construct.html">Services</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Products
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="products.html">Silver Package</a>
                    <a class="dropdown-item" href="products.html">Gold Package</a>
                    <a class="dropdown-item" href="products.html">Platinum Package</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="products.html">Customized package</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="about.html">About Us</a>
            </li>

            <li class="nav-item">
                <a class="nav-link " href="faq.html">Faq</a>
            </li>
        </ul>

    </div>
</nav>
<br>
<br>
<section class="furniture p_120" id="services">
    <div class="container" style="background: burlywood;border: #2C3539;padding: 2px;">

        <div class=" row" style="border-bottom: 20px;">
            <div class="col-lg-4">
                <div class="">
                    <div class="card">
                        <div class="card-header">
                            <div class="textOverImage" data-title="Coffee Table"
                                 data-text="Coffee table, with 9 drawer sand magazine storage cubby on rear. "
                                 style="background-image: url('../static/img/coffee table.jpg')">
                                <img class="logo" src="../static/img/Beads%20main.png" width="100" height="100" alt="">
                            </div>
                        </div>


                        <div class="card-body content">
                            <p> Coffee table </p>
                            <h4>Enquire</h4>
                            <button class="btn float-right" style="margin-right: 2rem"><a href="view%20product.html">Make
                                Order</a></button>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="col-lg-4">
                <div class="">
                    <div class="card">
                        <div class="card-header">
                            <div class="textOverImage" data-title="Solid Oak console Table"
                                 data-text="Solid Oak console table with 2 drawers, perfect condition   "
                                 style="background-image: url('../static/img/solid oak.jpg')">
                            </div>
                        </div>


                        <div class="card-body content">
                            <p> Houzz Carmen Beige Sofa</p>
                            <h4>Ksh:6000</h4>
                            <button class="btn float-right" style="margin-right: 2rem"><a href="view%20product.html">Make
                                Order</a></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="">
                    <div class="card">
                        <div class="card-header">
                            <div class="textOverImage" data-title="Solid Oak Table" data-text="Solid Oak Large table "
                                 style="background-image: url('../static/img/solid oak large side table.jpg')">
                            </div>
                        </div>


                        <div class="card-body content">
                            <p> Houzz Carmen Beige Sofa</p>
                            <h4>Ksh:6000</h4>
                            <button class="btn float-right" style="margin-right: 2rem"><a href="view%20product.html">Make
                                Order</a></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="">
                    <div class="card">
                        <div class="card-header">
                            <div class="textOverImage" data-title="Solid Oak console Table"
                                 data-text="Solid Oak small side table  "
                                 style="background-image: url('../static/img/solid oak small table.jpg')">
                            </div>
                        </div>


                        <div class="card-body content">
                            <p> Houzz Carmen Beige Sofa</p>
                            <h4>Ksh:6000</h4>
                            <button class="btn float-right" style="margin-right: 2rem"><a href="view%20product.html">Make
                                Order</a></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="">
                    <div class="card">
                        <div class="card-header">
                            <div class="textOverImage" data-title="White unit shelving"
                                 data-text="8 cubby white unit shelving with rattan baskets    "
                                 style="background-image: url('../static/img/8 unit shelves.jpg')">
                            </div>
                        </div>


                        <div class="card-body content">
                            <p> Houzz Carmen Beige Sofa</p>
                            <h4>Ksh:6000</h4>
                            <button class="btn float-right" style="margin-right: 2rem"><a href="view%20product.html">Make
                                Order</a></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="">
                    <div class="card">
                        <div class="card-header">
                            <div class="textOverImage" data-title="Solid Oak console Table"
                                 data-text="Solid Oak small side table  "
                                 style="background-image: url('../static/img/solid oak small table.jpg')">
                            </div>
                        </div>


                        <div class="card-body content">
                            <p> Houzz Carmen Beige Sofa</p>
                            <h4>Ksh:6000</h4>
                            <button class="btn float-right" style="margin-right: 2rem"><a href="view%20product.html">Make
                                Order</a></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="">
                    <div class="card">
                        <div class="card-header">
                            <div class="textOverImage" data-title="Floor Lamp"
                                 data-text="Brushed steel standard floor lamp with shade      "
                                 style="background-image: url('../static/img/brushed steel.jpg')">
                            </div>
                        </div>


                        <div class="card-body content">
                            <p> Houzz Carmen Beige Sofa</p>
                            <h4>Ksh:6000</h4>
                            <button class="btn float-right" style="margin-right: 2rem"><a href="view%20product.html">Make
                                Order</a></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="">
                    <div class="card">
                        <div class="card-header">
                            <div class="textOverImage" data-title="kitchen glass cupboard"
                                 data-text="White kitchen tall glass cupboard with half glazed doors "
                                 style="background-image: url('../static/img/white kitchen.jpg')">
                            </div>
                        </div>


                        <div class="card-body content">
                            <p> Houzz Carmen Beige Sofa</p>
                            <h4>Ksh:6000</h4>
                            <button class="btn float-right" style="margin-right: 2rem"><a href="view%20product.html">Make
                                Order</a></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="">
                    <div class="card">
                        <div class="card-header">
                            <div class="textOverImage" data-title="Pine Bookcase"
                                 data-text="British antique pine small bookcase with two shelves. (shelf position adjustable)    "
                                 style="background-image: url('../static/img/british antique pine.jpg')">
                            </div>
                        </div>


                        <div class="card-body content">
                            <p> Houzz Carmen Beige Sofa</p>
                            <h4>Ksh:6000</h4>
                            <button class="btn float-right" style="margin-right: 2rem"><a href="view%20product.html">Make
                                Order</a></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="">
                    <div class="card">
                        <div class="card-header">
                            <div class="textOverImage" data-title="British corner cabinet "
                                 data-text="Country style pine British corner cabinet with cupboard and two shelves    "
                                 style="background-image: url('../static/img/country style.png')">
                            </div>
                        </div>


                        <div class="card-body content">
                            <p> Houzz Carmen Beige Sofa</p>
                            <h4>Ksh:6000</h4>
                            <button class="btn float-right" style="margin-right: 2rem"><a href="view%20product.html">Make
                                Order</a></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="">
                    <div class="card">
                        <div class="card-header">
                            <div class="textOverImage" data-title="Tv Unit"
                                 data-text="TV unit with 2 drawers leather handles, wood and paint finish "
                                 style="background-image: url('../static/img/tv unit.jpg')">
                            </div>
                        </div>


                        <div class="card-body content">
                            <p> Houzz Carmen Beige Sofa</p>
                            <h4>Ksh:6000</h4>
                            <button class="btn float-right" style="margin-right: 2rem"><a href="view%20product.html">Make
                                Order</a></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="">
                    <div class="card">
                        <div class="card-header">
                            <div class="textOverImage" data-title="Large Drawer"
                                 data-text="Large chest of drawers with 8 drawer (4 large deep, 2 medium, 2 small)      "
                                 style="background-image: url('../static/img/large chest.jpg')">
                            </div>
                        </div>


                        <div class="card-body content">
                            <p> Houzz Carmen Beige Sofa</p>
                            <h4>Ksh:6000</h4>
                            <button class="btn float-right" style="margin-right: 2rem"><a href="view%20product.html">Make
                                Order</a></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="">
                    <div class="card">
                        <div class="card-header">
                            <div class="textOverImage" data-title="Sideboard"
                                 data-text="Sideboard with two cupboards and two drawers. Wood and painted finish   "
                                 style="background-image: url('../static/img/side board.png')">
                            </div>
                        </div>


                        <div class="card-body content">
                            <p> Houzz Carmen Beige Sofa</p>
                            <h4>Ksh:6000</h4>
                            <button class="btn float-right" style="margin-right: 2rem"><a href="view%20product.html">Make
                                Order</a></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="">
                    <div class="card">
                        <div class="card-header">
                            <div class="textOverImage" data-title="Armchair"
                                 data-text="Armchair in cream fabric with striped pattern "
                                 style="background-image: url('../static/img/arm chair.png')">
                            </div>
                        </div>


                        <div class="card-body content">
                            <p> Houzz Carmen Beige Sofa</p>
                            <h4>Ksh:6000</h4>
                            <button class="btn float-right" style="margin-right: 2rem"><a href="view%20product.html">Make
                                Order</a></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="">
                    <div class="card">
                        <div class="card-header">
                            <div class="textOverImage" data-title="King size bed fame "
                                 data-text="   "
                                 style="background-image: url('../static/img/bed fame.jpg')">
                            </div>
                        </div>


                        <div class="card-body content">
                            <p> Houzz Carmen Beige Sofa</p>
                            <h4>Ksh:6000</h4>
                            <button class="btn float-right" style="margin-right: 2rem"><a href="view%20product.html">Make
                                Order</a></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="">
                    <div class="card">
                        <div class="card-header">
                            <div class="textOverImage" data-title="Four poster Bed "
                                 data-text="  Large hand carved Swahili style four poster bed with lime wash
                                 Including Kingsize pocket sprung mattress."

                                 style="background-image: url('../static/img/lime wash bed.png')">
                            </div>
                        </div>


                        <div class="card-body content">
                            <p> Houzz Carmen Beige Sofa</p>
                            <h4>Ksh:6000</h4>
                            <button class="btn float-right" style="margin-right: 2rem"><a href="view%20product.html">Make
                                Order</a></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="">
                    <div class="card">
                        <div class="card-header">
                            <div class="textOverImage" data-title="  Hand carved Swahili Table"
                                 data-text="  Hand carved Swahili style dressing / accent table with lime wash   "
                                 style="background-image: url('../static/img/hand carved table.jpg')">
                            </div>
                        </div>


                        <div class="card-body content">
                            <p> Houzz Carmen Beige Sofa</p>
                            <h4>Ksh:6000</h4>
                            <button class="btn float-right" style="margin-right: 2rem"><a href="view%20product.html">Make
                                Order</a></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="">
                    <div class="card">
                        <div class="card-header">
                            <div class="textOverImage" data-title="Bedside cabinet  "
                                 data-text="   "
                                 style="background-image: url('../static/img/bed fame.jpg')">
                            </div>
                        </div>


                        <div class="card-body content">
                            <p> Houzz Carmen Beige Sofa</p>
                            <h4>Ksh:6000</h4>
                            <button class="btn float-right" style="margin-right: 2rem"><a href="view%20product.html">Make
                                Order</a></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="">
                    <div class="card">
                        <div class="card-header">
                            <div class="textOverImage" data-title="Floor lamp "
                                 data-text="  Floor lamp, wooden carved base with cream lampshade   "
                                 style="background-image: url('../static/img/wooden floor lamp.png')">
                            </div>
                        </div>


                        <div class="card-body content">
                            <p> Houzz Carmen Beige Sofa</p>
                            <h4>Ksh:6000</h4>
                            <button class="btn float-right" style="margin-right: 2rem"><a href="view%20product.html">Make
                                Order</a></button>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="col-lg-4">
                <div class="">
                    <div class="card">
                        <div class="card-header">
                            <div id="carousel-example-2" class="carousel slide carousel-fade" data-ride="carousel">
                                <!--Indicators-->
                                <ol class="carousel-indicators">
                                    <li data-target="#carousel-example-2" data-slide-to="0" class="active"></li>
                                    <li data-target="#carousel-example-2" data-slide-to="1"></li>
                                </ol>
                                <!--/.Indicators-->
                                <!--Slides-->
                                <div class="carousel-inner" role="listbox">
                                    <div class="carousel-item active">
                                        <div class="textOverImage" data-title="Chez lounge "
                                             data-text="  Large chez lounge sofa from Bolia Denmark. 100% pure wool covers in soft grey. Includes an auto inflate double guest bed inside. Seats four comfortably.     "
                                             style="background-image: url('../static/img/large chez.jpg') ">
                                        </div>

                                    </div>
                                    <div class="carousel-item">
                                        <!--Mask color-->
                                        <div class="textOverImage" data-title=" chez lounge *  "
                                             data-text=" Large chez lounge sofa from Bolia Denmark"
                                             style="background-image: url('../static/img/lounge sofa.png')">
                                        </div>

                                    </div>

                                </div>

                                <a class="carousel-control-prev" href="#carousel-example-2" role="button"
                                   data-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="carousel-control-next arrow-next" href="#carousel-example-2" role="button"
                                   data-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                </a>

                            </div>
                        </div>
                         <div class="card-body content">
                                    <p> Houzz Carmen Beige Sofa</p>
                                    <h4>Ksh:6000</h4>
                                    <button class="btn float-right" style="margin-right: 2rem"><a
                                            href="view%20product.html">Make
                                        Order</a></button>
                                </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

<br>
<br>
<div class="position">


    <div class="copy">
        <footer class="page-footer mt-5 mb-4 text-center text-md-left">

            <!-- Grid row -->
            <div class="row mt-3">

                <!-- First column -->

                <div class="col-md-3 col-lg-4 col-xl-3 mb-4" style="margin-left: 84px">
                    <h6 class="text-uppercase font-weight-bold">
                        <br>
                        <strong><img src="../static/img/Beads%20main.png" alt="" style="margin-right: 74px"></strong>
                    </h6>
                    <hr class="yellow accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 220px;margin-left: 22px">

                    <p style="margin-right: 64px">BEADS AND PRINTS OFFERS AFFORDABLE AND QUALITY FURNITURE FOR OFFICE,HOME AND EVENTS.</p>
                </div>
                <!-- /.First column -->

                <!--Second column-->
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    <h6 class="text-uppercase font-weight-bold">
                        <br>
                        <strong>Products</strong>
                    </h6>
                    <hr class="orange accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                    <p>
                        <a href="products.html">SILVER</a>
                    </p>
                    <p>
                        <a href="products.html">BRONZE</a>
                    </p>
                    <p>
                        <a href="products.html">GOLD</a>
                    </p>
                    <p>
                        <a href="products.html">PLATINUM</a>
                    </p>
                </div>
                <!--/.Second column-->

                <!-- Grid column -->
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase font-weight-bold">
                        <br>
                        <strong>Useful links</strong>
                    </h6>
                    <hr class="orange accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 68px;">
                    <p>
                        <a href="tier1.html" style="color: #a07404">OUR FURNITURE</a>
                    </p>
                    <p>
                        <a href="about.html" style="color: #a07404">ABOUT US</a>
                    </p>
                    <p>
                        <a href="view%20product.html" style="color: #a07404">CONTACT US</a>
                    </p>
                    <p>
                        <a href="faq.html" style="color: #a07404">FAQ</a>
                    </p>
                </div>
                <!--.Third column-->

                <!--Fourth column-->
                <div class="col-md-4 col-lg-3 col-xl-3">
                    <h6 class="text-uppercase font-weight-bold">
                        <br>
                        <strong style="">Contact</strong>
                    </h6>
                    <hr class="orange accent-2-mb-4 mt-0 d-inline-block "
                        style="width: 60px; ">
                    <p>
                        <i class="fas fa-info-circle mr-3"></i> FURNITURE LEASING COMPANY
                    </p>
                    <p>
                        <i class="fas fa-home mr-3"></i>A22 Ridgeways Lane-Garden Estate, Nairobi
                    </p>
                    <p>
                        <i class="fas fa-envelope mr-3"></i> BEADSANDPRINTS@GMAIL.COM
                    </p>
                    <p>
                        <i class="fas fa-phone mr-3"></i> +254 725 771 895
                    </p>
                    <p>
                        <!--    <i class="fas fa-info-circle mr-3"></i>  22579 – 00400 Nairobi -->
                    </p>
                </div>


            </div>
            <!-- Grid column -->

            <!-- Grid column -->

            <!-- Grid column -->

        </footer>
        <p>© 2019 © Beads and prints . All Rights Reserved | Design by <a href="index.php">CodyBaraks</a></p>
    </div>
</div>

</body>
</html>