<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Make Order</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.7.5/css/mdb.min.css" rel="stylesheet">

     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
    <link rel="stylesheet" href="../static/footer.css">
    <link rel="stylesheet" href="../static/nav.css">
    <link rel="icon" type="image/png" href="../static/images/icons/favicon.ico"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../static/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../static/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../static/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../static/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../static/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../static/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../static/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../static/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../static/css/util.css">
    <link rel="stylesheet" type="text/css" href="../static/css/main.css">
</head>
<body>
<nav class="navbar navbar-expand-lg  navbar-light bg-light ml-auto text-center">
    <a class="navbar-brand" href="home.html"><h2>BEADS AND PRINTS</h2></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon">dd</span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav navbar-center ml-auto text-center">
            <li class="nav-item active">
                <a class="nav-link" href="home.html">Home <span class="sr-only">(current)</span></a>
            </li>
            <!-- <li class="nav-item">
                 <a class="nav-link" href="construct.html">Services</a>
             </li> -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Products
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="products.html">Silver Package</a>
                    <a class="dropdown-item" href="products.html">Gold Package</a>
                    <a class="dropdown-item" href="products.html">Platinum Package</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="products.html">Customized package</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="about.html">About Us</a>
            </li>

            <li class="nav-item">
                <a class="nav-link " href="faq.html">Faq</a>
            </li>
        </ul>

    </div>
</nav>
<br>
<br>
<!-- Modal -->
<div class="container-contact100">
		<div class="wrap-contact100">
			<form class="contact100-form validate-form">
				<span class="contact100-form-title">
					Send Us A Message(Enquire)
				</span>

				<label class="label-input100" for="first-name"><strong>Tell us your name *</strong></label>
				<div class="wrap-input100 rs1-wrap-input100 validate-input" data-validate="Type first name">
					<input id="first-name" class="input100" type="text" name="first-name" placeholder="First name">
					<span class="focus-input100"></span>
				</div>
				<div class="wrap-input100 rs2-wrap-input100 validate-input" data-validate="Type last name">
					<input class="input100" type="text" name="last-name" placeholder="Last name">
					<span class="focus-input100"></span>
				</div>

				<label class="label-input100" for="email"><strong>Enter your email *</strong></label>
				<div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
					<input id="email" class="input100" type="text" name="email" placeholder="Eg. example@email.com">
					<span class="focus-input100"></span>
				</div>

				<label class="label-input100" for="phone"><strong>Enter phone number</strong></label>
				<div class="wrap-input100">
					<input id="phone" class="input100" type="text" name="phone" placeholder="Eg. +254 800 500 800">
					<span class="focus-input100"></span>
				</div>

				<label class="label-input100" for="message"><strong>Message *</strong></label>
				<div class="wrap-input100 validate-input" data-validate = "Message is required">
					<textarea id="message" class="input100" name="message" placeholder="Write us a message"></textarea>
					<span class="focus-input100"></span>
				</div>

				<div class="container-contact100-form-btn">
					<button class="contact100-form-btn">
						Send Message
					</button>
				</div>
			</form>

			<div class="contact100-more flex-col-c-m" style="background-image: url('../static/img/interior1.png');">
				<div class="flex-w size1 p-b-47">
					<div class="txt1 p-r-25">
						<span class="lnr lnr-map-marker"></span>
					</div>

					<div class="flex-col size2">
						<span class="txt1 p-b-20">
							Address
						</span>

						<span class="txt2">
							A22 Ridgeways Lane-Garden Estate, Nairobi
						</span>
					</div>
				</div>

				<div class="dis-flex size1 p-b-47">
					<div class="txt1 p-r-25">
						<span class="lnr lnr-phone-handset"></span>
					</div>

					<div class="flex-col size2">
						<span class="txt1 p-b-20">
							Lets Talk
						</span>

						<span class="txt3">
							 +254 725 771 895
						</span>
					</div>
				</div>

				<div class="dis-flex size1 p-b-47">
					<div class="txt1 p-r-25">
						<span class="lnr lnr-envelope"></span>
					</div>

					<div class="flex-col size2">
						<span class="txt1 p-b-20">
							General Support
						</span>

						<span class="txt3">
							BEADSANDPRINTS@GMAIL.COM
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>
<br>
<div class="position">


    <div class="copy">
        <footer class="page-footer mt-5 mb-4 text-center text-md-left">

          <!-- Grid row -->
          <div class="row mt-3">

            <!-- First column -->

            <div class="col-md-3 col-lg-4 col-xl-3 mb-4" style="margin-left: 84px">
              <h6 class="text-uppercase font-weight-bold">
                  <br>
                <strong><img src="../static/img/Beads%20main.png" alt=""></strong>
              </h6>
                <hr>
              <hr class="orange accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 220px;">

              <p>BEADS AND PRINTS OFFERS AFFORDABLE AND QUALITY FURNITURE FOR OFFICE,HOME AND EVENTS.</p>
            </div>
            <!-- /.First column -->

            <!--Second column-->
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
              <h6 class="text-uppercase font-weight-bold">
                  <br>
                <strong>Products</strong>
              </h6>
                <hr>
              <hr class="orange accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px">
              <p>
                <a href="products.html" style="font-size: 0.9em;color: #afafaf">SILVER</a>
              </p>
              <p>
                <a href="products.html" style="font-size: 0.9em;color: #afafaf">BRONZE</a>
              </p>
              <p>
                <a href="products.html" style="font-size: 0.9em;color: #afafaf">GOLD</a>
              </p>
              <p>
                <a href="products.html" style="font-size: 0.9em;color: #afafaf">PLATINUM</a>
              </p>
            </div>
            <!--/.Second column-->

            <!-- Grid column -->
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
              <!-- Links -->
              <h6 class="text-uppercase font-weight-bold">
                  <br>
                <strong>Useful links</strong>
              </h6>
                <hr>
              <hr class="orange accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 68px">
              <p>
                <a href="tier1.html"style="font-size: 0.9em;color: #725304">OUR FURNITURE</a>
              </p>
              <p>
                <a href="about.html" style="font-size: 0.9em;color: #725304">ABOUT US</a>
              </p>
              <p>
                <a href="products.html"style="font-size: 0.9em;color: #725304" >CONTACT US</a>
              </p>
              <p>
                <a href="faq.html" style="font-size: 0.9em;color: #725304">FAQ</a>
              </p>
            </div>
            <!--.Third column-->

            <!--Fourth column-->
            <div class="col-md-4 col-lg-3 col-xl-3">
              <h6 class="text-uppercase font-weight-bold">
                  <br>
                <strong style="margin-left: 45px">Contact</strong>
              </h6>
                <hr>
              <hr class="orange accent-2-mb-4 mt-0 d-inline-block " style="width: 60px; margin-left: 48px">
                  <p>
                   <i class="fas fa-info-circle mr-3"></i> FURNITURE LEASING COMPANY
              </p>
              <p>
                <i class="fas fa-home mr-3"></i>A22 Ridgeways Lane-Garden Estate, Nairobi
              </p>
              <p>
                <i class="fas fa-envelope mr-3"></i> BEADSANDPRINTS@GMAIL.COM
              </p>
              <p>
                <i class="fas fa-phone mr-3"></i> +254 725 771 895
              </p>
              <p>
               <!--    <i class="fas fa-info-circle mr-3"></i>  22579 – 00400 Nairobi -->
              </p>
            </div>




            </div>
            <!-- Grid column -->

            <!-- Grid column -->

            <!-- Grid column -->

          </footer>
        <p>© 2019 © Beads and prints . All Rights Reserved | Design by <a href="index.php">CodyBaraks</a></p>
    </div>
</div>

</body>
</html>